@font-face {
    font-family: 'ABCFavorit';
    src: local('ABCFavorit'),
        url(../font/ABCFavorit-Light.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ABCFavorit';
    src: local('ABCFavorit'),
        url(../font/ABCFavorit-Bold.otf) format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT';
    src: local('SUIT'),
        url(../font/SUIT-Regular.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    /* height: 2160px; */
}

.container {
    max-width: inherit !important;
    min-height: 100vh;
}

.headline {
    width: 100%;
    /* height: 70px; */
    padding-top: 21px;
    padding-bottom: 21px;
    /* padding-left: 40%;  */
    display: table;
    background-color: #ebebeb
}


.headline>span {
    /* width: 524px; */
    height: 25px;
    font-family: SUIT;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #707070;
    display: table-cell;
    vertical-align: middle;
    /* align */
}

.menu-bar {
    width: 100%;
    height: 70px;
    /* margin: 70px 0 0; */
    padding: 12px 27.7px 12px 22px;
    background-color: #fff;
}

.menu-active {
    width: 5%;
    height: 46px;
    margin: 0 31px 0 0;
    padding: 10px 18px 9px;
    background-color: #000;
    position: relative;
    float: left;
}

.menu-active>span {
    /* width: 56px; */
    height: 27px;
    font-family: ABCFavorit;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu {
    width: 5%;
    height: 46px;
    margin: 0 31px 0 0;
    padding: 10px 18px 9px;
    position: relative;
    float: left;
}

.menu>span {
    /* width: 92px; */
    height: 27px;
    /* margin: 10px 26px 9px 31px; */
    font-family: ABCFavorit;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-icon {
    width: 3%;
    height: 46px;
    padding-top: 22px;
    position: relative;
    float: right;
}

.main-img {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-image: url('../img/main.png');
    background-size: cover;
    background-position: center center;
}

.img-section-container {
    width: 100%;
}

.img-section1 {
    width: 25%;
    /* width: 480px; */
    height: 10%;
    /* margin: 941px 0 146px; */
    padding: 504px 0 65px 0;
    position: relative;
    float: left;
    background-image: url('../img/live.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.img-section2 {
    width: 25%;
    /* width: 480px; */
    height: 10%;
    /* margin: 941px 0 146px; */
    padding: 504px 0 65px 0;
    position: relative;
    float: left;
    background-image: url('../img/new.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.img-section3 {
    width: 25%;
    /* width: 480px; */
    height: 10%;
    /* margin: 941px 0 146px; */
    padding: 504px 0 65px 0;
    position: relative;
    float: left;
    background-image: url('../img/re.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.img-section4 {
    width: 25%;
    height: 10%;
    padding: 504px 0 65px 0;
    position: relative;
    float: left;
    background-image: url('../img/magazine.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.img-box {
    width: 120px;
    height: 46px;
    /* padding: 9px 0 12px 0; */
    border: solid 1px #e6e6e6;
    background-color: #fff;
    display: table;
}

.img-box>span {
    width: 52px;
    height: 25px;
    font-family: SUIT;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    display: table-cell;
    vertical-align: middle;
}

.spring {
    width: 100%;
    background-color: #fff;
    display: table;
    padding-top: 7%;
    margin-bottom: 7%;
}

.spring>span {
    width: 30%;
    height: 10%;
    /* margin: 146px 296px 137px; */
    font-family: ABCFavorit;
    font-size: 35px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.35px;
    text-align: center;
    color: #000;
    display: table-cell;
    vertical-align: middle;
}


.img-section-container_low {
    width: 100%;
    height: 5%;
}

.img-section5 {
    width: 20%;
    margin-left: 4%;
    margin-right: 4%;
    padding: 20% 0 5% 0;
    position: relative;
    float: left;
    display: flex;
    background-image: url('../img/ss_1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* background-color: #f2f2f2; */
}

.img-section6 {
    width: 20%;
    margin-right: 4%;
    padding: 20% 0 5% 0;
    position: relative;
    float: left;
    display: flex;
    background-image: url('../img/ss_2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* background-color: #f2f2f2; */
}

.img-section7 {
    width: 20%;
    margin-right: 4%;
    padding: 20% 0 5% 0;
    float: left;
    display: flex;
    background-image: url('../img/ss_3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* background-color: #f2f2f2; */
}

.img-section8 {
    width: 20%;
    margin-right: 4%;
    padding: 20% 0 5% 0;
    position: relative;
    float: left;
    display: flex;
    background-image: url('../img/ss_4.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* background-color: #f2f2f2; */
}

.img-section-container-black {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    background-color: #000;
    margin-top: 40%;
}

.lower {
    /* display: inline-block; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    box-sizing: border-box;
    border: 1px solid #fff;
    /* padding: 123px 140px 122px 141px; */
    padding-top: 5%;
    padding-bottom: 5%;
    /* text-align: center; */
}

.lower>img {
    /* width: 103px; */
    height: 27px;
    padding-right: 2%;
}

.lower>span {
    /* width: 15%; */
    height: 27px;
    font-family: ABCFavorit;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    /* display: inline-block; */
}


.footer {
    width: 100%;
    display: table;
    border: solid 1px #fff;
    background-color: #000;
    padding-top: 2%;
    padding-bottom: 2%;
}

.footer>span {
    /* width: 538px; */
    height: 27px;
    font-family: ABCFavorit;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}

@media all and (max-width: 1920px) {
    body {
        overflow-x: hidden;
    }
}

@media all and (max-width: 1919px) {
    .main-img {
        /* background-image: url(../img/main_copy.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-position: center center;
        height: auto;
        min-height: 100vh;
        width: 100%; */
    }
}

/* ~480 //mobile
~768 //tablet
~1200 //labtob
~1600 //desktop
~1920 //large
more */