@font-face {
    font-family: 'ABCFavorit';
    src: local('ABCFavorit'),
        url(../font/ABCFavorit-Light.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ABCFavorit';
    src: local('ABCFavorit'),
        url(../font/ABCFavorit-Bold.otf) format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT';
    src: local('SUIT'),
        url(../font/SUIT-Regular.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    /* height: 2160px; */
}

.container {
    max-width: inherit !important;
    min-height: 100vh;
}

.headline {
    width: 100%;
    /* height: 70px; */
    padding-top: 21px;
    padding-bottom: 21px;
    /* padding-left: 40%;  */
    display: table;
    background-color: #ebebeb;
    z-index: 9999999;
    position: relative;
}


#first_span {
    height: 25px;
    font-family: SUIT;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #707070;
    display: table-cell;
    vertical-align: middle;
    /* align */
}

#second_span {
    font-family: SUIT;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #707070;
    white-space: pre-line;
    display: None;
    /* vertical-align: middle; */
    /* align */
}

.menu-bar {
    width: 100%;
    height: 70px;
    /* margin: 70px 0 0; */
    padding: 12px 27.7px 12px 22px;
    background-color: #fff;
}

.menu-active {
    width: 5%;
    height: 46px;
    margin: 0 31px 0 0;
    padding: 10px 18px 9px;
    background-color: #000;
    position: relative;
    float: left;
}

.menu-active>span {
    /* width: 56px; */
    height: 27px;
    font-family: ABCFavorit;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu {
    width: 5%;
    height: 46px;
    margin: 0 31px 0 0;
    padding: 10px 18px 9px;
    position: relative;
    float: left;
}

.menu>span {
    /* width: 92px; */
    height: 27px;
    /* margin: 10px 26px 9px 31px; */
    font-family: ABCFavorit;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-icon {
    width: 3%;
    height: 46px;
    padding-top: 22px;
    position: relative;
    float: right;
}

.main-img {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-image: url('../img/main.png');
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.img-section-container {
    width: 100%;
    height: 10%;
    z-index: 2;
}

.img-section1 {
    width: 25%;
    /* width: 480px; */
    height: 10%;
    /* margin: 941px 0 146px; */
    padding: 20% 0 5% 0;
    position: relative;
    float: left;
    background-image: url('../img/live.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-size: contain;
}

.img-section2 {
    width: 25%;
    /* width: 480px; */
    height: 10%;
    /* margin: 941px 0 146px; */
    padding: 20% 0 5% 0;
    position: relative;
    float: left;
    background-image: url('../img/new.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-size: contain;
}

.img-section3 {
    width: 25%;
    /* width: 480px; */
    height: 10%;
    /* margin: 941px 0 146px; */
    padding: 20% 0 5% 0;
    position: relative;
    float: left;
    background-image: url('../img/re.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-size: contain;
}

.img-section4 {
    width: 25%;
    height: 10%;
    padding: 20% 0 5% 0;
    position: relative;
    float: left;
    background-image: url('../img/magazine.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-size: contain;
}

.img-box {
    width: 20%;
    height: 46px;
    /* padding: 9px 0 12px 0; */
    border: solid 1px #e6e6e6;
    background-color: #fff;
    display: table;
}

.img-box>span {
    width: 52px;
    height: 25px;
    font-family: SUIT;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    display: table-cell;
    vertical-align: middle;
}

.spring {
    width: 100%;
    background-color: #fff;
    display: table;
    padding-top: 7%;
    margin-bottom: 7%;
}

.spring>span {
    width: 30%;
    height: 10%;
    /* margin: 146px 296px 137px; */
    font-family: ABCFavorit;
    font-size: 35px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.35px;
    text-align: center;
    color: #000;
    display: table-cell;
    vertical-align: middle;
}


.img-section-container_low {
    width: 100%;
    height: 5%;
}

.img-section5 {
    width: 20%;
    margin-left: 4%;
    margin-right: 4%;
    padding: 20% 0 5% 0;
    position: relative;
    float: left;
    display: flex;
    background-image: url('../img/ss_1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* background-color: #f2f2f2; */
}

.img-section6 {
    width: 20%;
    margin-right: 4%;
    padding: 20% 0 5% 0;
    position: relative;
    float: left;
    display: flex;
    background-image: url('../img/ss_2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* background-color: #f2f2f2; */
}

.img-section7 {
    width: 20%;
    margin-right: 4%;
    padding: 20% 0 5% 0;
    float: left;
    display: flex;
    background-image: url('../img/ss_3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* background-color: #f2f2f2; */
}

.img-section8 {
    width: 20%;
    margin-right: 4%;
    padding: 20% 0 5% 0;
    position: relative;
    float: left;
    display: flex;
    background-image: url('../img/ss_4.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* background-color: #f2f2f2; */
}

.img-section-container-black {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    background-color: #000;
    margin-top: 40%;
}

.lower {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    box-sizing: border-box;
    border: 1px solid #fff;
    padding-top: 5%;
    padding-bottom: 5%;
    /* vertical-align: center; */
}

.lower>img {
    height: 27px;
    padding-right: 2%;
}

.lower>span {
    /* width: 15%; */
    height: 27px;
    font-family: ABCFavorit;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    /* display: inline-block; */
}

#mobile {
    display: none;
}

#logo_white {
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 44%;
    /* vertical-align: middle; */
}

#small {
    padding-top: 5%;
}


#hamburger {
    display: none;
}

#search {
    display: none;
}

#mob_logo {
    display: none;
}

#mob_menu {
    display: none;
    width: 90%;
    background-color: #fff;
    /* border: 1px solid #020202; */
    height: auto;
    float:left;
    z-index:10000;
    padding-bottom: 10%;
}

#cart::after {
    content: "";
    position: absolute;
    left: 15%;
    top: 0;
    bottom: 0;
    border-left: 1px solid #000;
}

.menu_fixed {
    position: fixed;
}

.mob_menu_div {
    width: 100%;
    height: 5%;
    /* padding-top: 5%; */
    z-index: inherit;
}

.mob_menu_div > img {
    width: 25%;
    padding-left: 20%;
    justify-content: center;
    /* padding-bottom: 5%; */
}

.mob_menu_div2 {
    width: 100%;
    z-index: inherit;
}

.RED {
    width: 25%;
    padding-left: 20%;
    justify-content: center;
    font-family: ABCFavorit;
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: -1.5px;
    text-align: left;
    color: #d00303;
}

.BLACK {
    width: 20%;
    padding-left: 20%;
    justify-content: center;
    font-family: ABCFavorit;
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: -1.5px;
    text-align: left;
    color: #000;
}

.small {
    width: 100%;
    padding-left: 20%;
    justify-content: center;
    font-family: ABCFavorit;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -0.4px;
    text-align: left;
    color: #000;
}

#margin-bot {
    margin-bottom: 30%;
    padding-bottom: 10%;
}

#bottom-left {
    padding-bottom: 60%;
}

#close {
    line-height: 1;
    float: left;
    display: flex;
    padding-top:3%;
    /* padding-left: 5%; */
}

#cart {
    float: right;
    /* padding-left: 83%; */
    font-family: ABCFavorit;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -0.4px;
    text-align: right;
    color: #000;
    display: flex;
    padding-right:5%;
    padding-top:5%;
}

.r2wcokr {
    font-family: ABCFavorit;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.65;
    letter-spacing: -0.6px;
    text-align: left;
    color: #000; 
    transform: rotate(270deg);
    display: inline-block;
    padding-bottom: 5%;
    /* padding-top: 15%; */
}

hr {
    border: 1px solid #000;
}

.footer {
    width: 100%;
    display: table;
    border: solid 1px #fff;
    background-color: #000;
    padding-top: 2%;
    padding-bottom: 2%;
}

.footer>span {
    /* width: 538px; */
    height: 27px;
    font-family: ABCFavorit;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}

@media all and (max-height: 780px) {
    #margin-bot {
        margin-bottom: 8%;
        padding-bottom: 3%;
    }
}

@media all and (max-width: 1920px) and (min-width: 1281px) {
    body {
        overflow-x: hidden;
    }

    #first_span {
        display: table-cell;
    }

    #second_span {
        display: none;
    }

    #mobile {
        display:none;
    }

    .menu-icon {
        width: 5%;
        height: 46px;
        padding-top: 22px;
        position: relative;
        float: right;
    }

    .img-section1 {
        width: 25%;
        /* padding: 0%; */
        background-size:cover;
    }

    .img-section2 {
        width: 25%;
        /* padding: 0%; */
        background-size:cover;
    }

    .img-section3 {
        width: 25%;
        /* padding: 0%; */
        background-size:cover;
    }

    .img-section4 {
        width: 25%;
        /* padding: 0%; */
        background-size:cover;
    }
}

@media all and (max-width: 1280px) and (min-width: 768px) {
    body {
        overflow-x:hidden;
    }

    #first_span{
        display:none;
    }

    #second_span {
        display:block;
    }

    /* #menu1 {
        display: none;
    }

    #menu2 {
        display: none;
    }

    #menu3 {
        display: none;
    } */

    .menu-icon {
        width: 6%;
        height: 46px;
        padding-top: 22px;
        /* margin-left: 90%; */
        float: right;
        /* position: absolute; */
    }

    /* #txt_1 {
        display: none;
    }

    #txt_2 {
        display: none;
    }

    #txt_3 {
        display: none;
    }

    #txt_4 {
        display: none;
    } */

    .img-section1 {
        width: 25%;
        /* padding: 0%; */
        background-size:cover;
    }

    .img-section2 {
        width: 25%;
        /* padding: 0%; */
        background-size:cover;
    }

    .img-section3 {
        width: 25%;
        /* padding: 0%; */
        background-size:cover;
    }

    .img-section4 {
        width: 25%;
        /* padding: 0%; */
        background-size:cover;
    }


    .img-box {
        width: 30%;
        height: 27px;
        /* padding-top: 5%;
        padding-bottom: 5%; */
    }

    .lower {
        vertical-align: top;
    }

    .lower > span {
        font-size: 15px;
    }
}


@media all and (max-width: 767px) and (min-width: 431px) {
    html {
        overflow-x: hidden;
    }
    
    body {
        overflow-x: hidden;
        max-width: 767px;
        /* width: 100%; */
        margin: 0; 
        padding: 0;
    }

    .headline {
        width: 100%;
        padding-top: 16px;
        padding-bottom: 16px;
    }


    #first_span {
        display: none;
    }

    #second_span {
        display: block;
    }

    #menu1 {
        display: none;
    }

    #menu2 {
        display: none;
    }

    #menu3 {
        display: none;
    }

    .menu-icon {
        width: 3%;
        height: 46px;
        padding-top: 22px;
        margin-left: 85%;
        position: absolute;
    }

    #txt_1 {
        display: none;
    }

    #txt_2 {
        display: none;
    }

    #txt_3 {
        display: none;
    }

    #txt_4 {
        display: none;
    }

    .main-img {
        width: 100%;
        height: auto;
        min-height: 100vh;
        background-image: url('../img/main_copy.png');
        background-size: cover;
        background-position: center center;
    }

    .img-section1 {
        width: 50%;
        /* height: 276px; */
        background-size: cover;
        background-position: center;
        /* padding: 10% 0 0 0; */
    }
    .img-section2 {
        width: 50%;
        /* height: 276px; */
        background-size: cover;
        background-position: center;
    }
    .img-section3 {
        width: 50%;
        /* height: 276px; */
        background-size: cover;
        background-position: center;
    }
    .img-section4 {
        width: 50%;
        /* height: 276px; */
        background-size: cover;
        background-position: center;
    }

    .img-box {
        width: 40%;
        height: 46px;
        border: solid 1px #e6e6e6;
        background-color: #fff;
        margin-top: 100%;
    }

    .img-section5 {
        width: 42%;
        height: 300px;
        margin-left: 5%;
        margin-right: 5%;
        padding: 5% 0 0 0;
    }
    .img-section6 {
        width: 42%;
        height: 300px;
        padding: 5% 0 0 0;
        margin-right: 5%;
    }
    .img-section7 {
        width: 42%;
        height: 300px;
        margin-left: 5%;
        margin-right: 5%;
        padding: 0 0 5% 0;
    }
    .img-section8 {
        width: 42%;
        height: 300px;
        padding: 0 0 5% 0;
        margin-right: 5%;
    }
    
    .lower {
        width: 100%;
        justify-content: left;
        background-color: black;
        /* box-sizing: border-box; */
        border: 1px solid #fff;
        align-items: center;
        /* padding: 0; */
    }

    .lower > img {
        align-items: center;
        justify-content: center;
        display: flex;
        vertical-align: center;
    }
    
    .img-section-container-black {
        background-color: #000;
        margin-top: 40%;
        width:100%
    }

    .lower > span {
        font-size: 15px;
        display: flex;
        padding-top: 5%;
    }

    .footer > span {
        font-size: 15px;
    }

    #large {
        display: none;
    }

    #mobile {
        display:block;
    }

    #hamburger {
        display:block;
        width: 5%;
        float: left;
        padding-top: 22px;
    }

    #search {
        display:block;
        width: 5%;
        float: left;
        padding-top: 22px;
        padding-left: 5%;
    }

    #mob_logo {
        display: block;
        float: left;
        width: 17%;
        padding-top: 20px;
        padding-left: 22%;
    }

    .RED {
       font-size: 50px;
    }

    .BLACK {
        font-size: 50px;
    }

    #margin-bot {
        margin: 0;
        /* margin-bottom: 10%; */
        /* padding-bottom: 10%; */
    }
} 


@media all and (max-width: 430px) {
    html {
        overflow-x: hidden;
    }
    
    body {
        overflow-x: hidden;
        max-width: 430px;
        /* width: 100%; */
        margin: 0; 
        padding: 0;
    }
    
    .headline {
        width: 100%;
        padding-top: 16px;
        padding-bottom: 16px;
    }


    #first_span {
        display: none;
    }

    #second_span {
        display: block;
    }

    #menu1 {
        display: none;
    }

    #menu2 {
        display: none;
    }

    #menu3 {
        display: none;
    }

    .menu-icon {
        width: 3%;
        height: 46px;
        padding-top: 22px;
        margin-left: 80%;
        position: absolute;
    }

    #txt_1 {
        display: none;
    }

    #txt_2 {
        display: none;
    }

    #txt_3 {
        display: none;
    }

    #txt_4 {
        display: none;
    }

    .main-img {
        width: 100%;
        height: auto;
        min-height: 100vh;
        background-image: url('../img/main_copy.png');
        background-size: cover;
        background-position: center center;
    }

    .img-section1 {
        width: 50%;
        height: 276px;
        background-size: cover;
        background-position: center;
        /* padding: 10% 0 0 0; */
    }
    .img-section2 {
        width: 50%;
        height: 276px;
        background-size: cover;
        background-position: center;
    }
    .img-section3 {
        width: 50%;
        height: 276px;
        background-size: cover;
        background-position: center;
    }
    .img-section4 {
        width: 50%;
        height: 276px;
        background-size: cover;
        background-position: center;
    }

    .img-box {
        width: 40%;
        height: 46px;
        border: solid 1px #e6e6e6;
        background-color: #fff;
        margin-top: 100%;
    }

    .img-section5 {
        width: 42%;
        height: 242px;
        margin-left: 5%;
        margin-right: 5%;
        padding: 5% 0 0 0;
    }
    .img-section6 {
        width: 42%;
        height: 242px;
        padding: 5% 0 0 0;
        margin-right: 5%;
    }
    .img-section7 {
        width: 42%;
        height: 242px;
        margin-left: 5%;
        margin-right: 5%;
        padding: 0 0 5% 0;
    }
    .img-section8 {
        width: 42%;
        height: 242px;
        padding: 0 0 5% 0;
        margin-right: 5%;
    }
    
    .lower {
        width: 100%;
        justify-content: left;
        background-color: black;
        /* box-sizing: border-box; */
        border: 1px solid #fff;
        align-items: center;
        /* padding: 0; */
    }

    .lower > img {
        align-items: center;
        justify-content: center;
        display: flex;
        vertical-align: center;
    }
    
    .img-section-container-black {
        background-color: #000;
        margin-top: 40%;
        width:100%
    }

    .lower > span {
        font-size: 15px;
        display: flex;
        padding-top: 5%;
    }

    .footer > span {
        font-size: 15px;
    }

    #large {
        display: none;
    }

    #mobile {
        display:block;
    }

    #hamburger {
        display:block;
        width: 5%;
        float: left;
        padding-top: 22px;
    }

    #search {
        display:block;
        width: 5%;
        float: left;
        padding-top: 22px;
        padding-left: 5%;
    }

    #mob_logo {
        display: block;
        float: left;
        width: 17%;
        padding-top: 20px;
        padding-left: 22%;
    }
}

/* ~480 //mobile
~768 //tablet
~1200 //labtob
~1600 //desktop
~1920 //large
more */